.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}
.error {
  background: red;
}

body {
  color: green;
}

.bg {
  background-image: url("https://static8.depositphotos.com/1457895/952/v/450/depositphotos_9529877-stock-illustration-books-background.jpg");
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
